*{
    background-color: darkkhaki;
    font-style: italic;
    color: beige;
    font-display: calc();
    background-image: url(./img/restaurant-interior-design-ideas-thumbnail.jpg);
    background-size: cover;
}